.Label {
  padding: .2rem .5rem;
  background-color: #dacdcd;
  border-radius: 8px;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  color: #595959;
  margin-right: .5rem;
}

.Tag {
  background-color: #dacdcd;
}

.Status {
  background-color: #15c4c1bd;
}